*.questionBox {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

.questionBox h4{
  color: #677d98;
 font-size: 50px ;
 margin-top: 0.1rem;
 text-align: center;
}

.questionBox h5{
  color: #677d98;
 font-size: 45px ;
 margin-top: 0.1rem;
 text-align: center;
}

.questionBox h6{
  color: #2f363f;
 font-size: 30px ;
 margin-top: 0.1rem;
 text-align: center;
}

.questionBox ChoiceBar{
  margin: auto;
}